{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Add Member</title>
</head>
<body>
    <div id="content">
        <h2>Add a team member</h2>
        <hr>
        <form action="/team/add/" method="post" id="add-member-form">
            {% csrf_token %}
            <h5>Info</h5>
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.phone }}
            <h5>Role</h5>
            {{ form.admin }}
            <div id="save-container">
                <input type="submit" value="Save" id="save-button" class="btn btn-primary">
            </div>
        </form>
        <div id="input-errors">
            {{ form.first_name.errors }}
            {{ form.last_name.errors }}
            {{ form.email.errors }}
            {{ form.phone.errors }}
            {{ form.admin.errors }}
        </div>
    </div>
</body>
</html>