#add-member-form {
    width: 100%;
}

#add-member-form > input {
    margin: 5px 0 5px 0;
}

#save-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#save-container-multi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    margin: 10px;
}

#input-errors > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    text-decoration: none;
    color: black;
}

.member:hover {
    text-decoration: none;
    color: black;
    
}

.profile-picture {
    border-radius: 1000px;
    height: 80%;
    margin-right: 15px;
}

#member-list-header {
    margin-bottom: 30px;
}

#add-member-plus {
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#add-member-plus > a {
    text-decoration: none;
}